{% extends 'store/base.html' %}

{% block content %}

    {% if user.is_authenticated %}
        <h3>&#9786; Sorry
            <span class="label label-danger"> {{user.username}}</span>
            you can't view this page.
        </h3>
    {% else %}
        <h2>Login.</h2><hr>
        {% if form.has_errors %} <p>ERROR: Please try again.</p> {% endif %} <!-- FALLA -->
        <form method="post" action="."> {% csrf_token %}
            <p>Don't have an account? <a href="{% url 'store:user_add' %}">REGITER NOW!</a> </p><hr>
            <p><label for="id_username">Username:</label> {{ form.username }}</p>
            <p><label for="id_password">Password:</label> {{ form.password }}</p><hr>
            <input type="hidden" name="next" value={% if next %} "{{ next }}" {% else %} "/store" {% endif %} />
            <input class="btn btn-success btn-block" type="submit" value="Login" />
        </form>

    {% endif %}

{% endblock %}
